- var dates = 'May 31 - June 1 2025'
- var year = '2025'
- var rider_registration_link = ""
- var results_link = ""
- var privacy_notice_link = "https://drive.google.com/file/d/1XReZBd61xw3XMhZ2JdwczHw3-q0yRt4d/view?usp=drive_link"
- var participant_liability_agreement_link = "https://drive.google.com/file/d/1xz2zVsTYjljrsVr_xGvCtFwpKaN5lbpk/view?usp=drive_link"
- var volunteer_registration_link = "https://forms.gle/QwbQUGCNUDrtLowv8"
- var rulebook_link = "https://drive.google.com/file/d/17T8W2Kwvv46ZHffC4JJaV9yM_WlarIT_/view?usp=drive_link"
- var nadl_rulebool_link = "https://drive.google.com/file/d/1zSKVYvHfAlJb_U_x_H42_jG3SNmHAbCg/view?usp=drive_link"

// - var qualifier_str = "Knox Mountain Downhill is sanctioned by Canada Skateboard as a qualifier for Team Canada for both Mens and Women's Downhill Skateboarding and Street Luge disciplines."
- var qualifier_str = ""
- var enticing_list = ['1', '2', '3', '4', '5']
- var registration_opens = 'April 5, 2025'
- var registration_info = 'Registration info coming soon!'

//ul
//    each item in enticing_list
//        li= item
//
//p Hello, #{ dates }