//  Contact Form Section Begin 
html
  head
  body
    section.contact-from-section.spad
      .container
        .row
          .col-lg-12
            .section-title
              h2 Contact Us
              p submit the form below or reach us directly at media@knoxmountaindh.ca
        .row
          .col-lg-12
            form.comment-form.contact-form(action='https://github.us10.list-manage.com/subscribe/post?u=52ec7b34dfb9800871a80ccc3&id=e2fd13ac0f&f_id=000fcde5f0' method='post' name='mc-embedded-subscribe-form' target='_self')
              .row
                .col-lg-4
                  input#mce-FNAME(type='text' value='' name='FNAME' placeholder='Name')
                .col-lg-4
                  input#mce-EMAIL.required.email(type='email' value='' name='EMAIL' required='' placeholder='Email')
                .col-lg-4
                  input#mce-PHONE(type='text' name='PHONE' value='' placeholder='Phone')
                .col-lg-12.text-center
                  textarea.requiredinput#mce-MMERGE6(type='text' value='' name='MMERGE6' placeholder='Messages')
                  button.site-btn(type='submit' value='Subscribe' name='subscribe') Send
                div(hidden='true')
                  input(type='hidden' name='tags' value='13508524')
                #mce-responses.clear.foot
                  #mce-error-response.response(style='display:none')
                  #mce-success-response.response(style='display:none')
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;' aria-hidden='true')
                  input(type='text' name='b_52ec7b34dfb9800871a80ccc3_e2fd13ac0f' tabindex='-1' value='')
    //  Contact Form Section End 
