//  Counter Section Begin 
html
  head
  body
    section.counter-section
      .container.bg-gradient
        .row
          .col-lg-4
            .counter-text
              //                         <span>Conference Date</span>
              h3
                | Count Every Second
                br
                | Until the Race
          .col-lg-8
            .cd-timer#countdown
              .cd-item
                span 40
                p Days
              .cd-item
                span 18
                p Hours
              .cd-item
                span 46
                p Minutes
              .cd-item
                span 32
                p Seconds
    //  Counter Section End 
