//  Footer Section Begin 
html
  head
  body
    footer.footer-section
      .container
        .partner-logo.owl-carousel
          a.pl-table(href='#')
            .pl-tablecell
              img(src='img/partner-logo/logo-1.png' alt)
          a.pl-table(href='#')
            .pl-tablecell
              img(src='img/partner-logo/logo-2.png' alt)
          a.pl-table(href='https://www.iheart.com/live/999-virgin-radio-kelowna-7533/')
            .pl-tablecell
              img(src='img/partner-logo/logo-3.png' alt)
          a.pl-table(href='#')
            .pl-tablecell
              img(src='img/partner-logo/logo-4.png' alt)
          a.pl-table(href='#')
            .pl-tablecell
              img(src='img/partner-logo/logo-5.png' alt)
          //a.pl-table(href='#')
          //  .pl-tablecell
          //    img(src='img/partner-logo/logo-6.png' alt)
        .row
          .col-lg-12
            .footer-text
              .ft-logo
                a.footer-logo(href='#')
                  img(src='img/partner-logo/BCID_footer.png' alt)
                  img(src='img/partner-logo/wordmark_horizontal_white_sm.png' alt)
              ul
                li
                  a(href='./index.html') Home
                li
                  a(href='sponsors.html') Sponsors
                li
                  a(href='./contact.html') Contact
                li
                  a(href='https://forms.gle/zTXkqkfKjKXMUY5t6') Volunteer
                //li
                //  a(href='https://forms.gle/LB6HzmwkSR5xfJgC9') Register
              .copyright-text
                p
                  | Copyright ©
                  script document.write(new Date().getFullYear());
                  | Knox Mountain Downhill
                  i.fa.fa-heart(aria-hidden='true')
              .ft-social
                a(href='https://www.facebook.com/events/996998147944403/')
                  i.fa.fa-facebook
                a(href='https://www.instagram.com/knoxmountaindownhill/')
                  i.fa.fa-instagram
                a(href='https://www.youtube.com/watch?v=V3_j8ojGFjY')
                  i.fa.fa-youtube-play
    //  Footer Section End 
