include constants
//  Hero Section Begin
html
  head
  body
    section.hero-section.set-bg(data-setbg='img/hero-flow.jpg')
      .container
        .row
          .col-lg-7
            img(class="hero-img" src="img/partner-logo/logo_white.png" alt="KNOX MOUNTAIN DOWNHILL")
            .hero-text
              .hero-text-box
                span #{dates}, Knox Mountain, Kelowna BC
                br
                //span Registration Opens April 5, 2024
                //br
                span Registration info coming soon!
                br
                br
                //a.primary-btn(href='#sub') Notify Me
                a.primary-btn(href=volunteer_registration_link) Volunteer Here
                //br
                //a.primary-btn(href='./results.html') See Live Results
                h2
          .col-lg-5
            img(src='img/hero-right-flower.png' alt)
    //  Hero Section End 
