//  Hero Section Begin 
html
  head
  body
    section.hero-section.set-bg(data-setbg='img/hero-flow.jpg')
      .container
        .row
          .col-lg-7
            img(class="hero-img" src="img/partner-logo/logo_white.png" alt="KNOX MOUNTAIN DOWNHILL")
            .hero-text
              .hero-text-box
                span June 1-2 2024, Knox Mountain, Kelowna BC
                br
                br
                //span Registration Opens April 5, 2024
                //br
                //a.primary-btn(href='#sub') Notify Me
                //br
                //a.primary-btn(href='https://forms.gle/zTXkqkfKjKXMUY5t6') Volunteer Here
                ////br
                a.primary-btn(href='https://forms.gle/LB6HzmwkSR5xfJgC9') Register Now
                h2
          .col-lg-5
            img(src='img/hero-right-flower.png' alt)
    //  Hero Section End 
