include constants
//  Home About Section Begin
html
  head
  body
    section.home-about-section.spad
      .container
        .row
          .col-lg-6
            .ha-pic
              img(src='img/h-about.png' alt)
          .col-lg-6
            .ha-text
              h2 ABOUT KNOX MOUNTAIN DOWNHILL
              //a(href='https://drive.google.com/file/d/17T8W2Kwvv46ZHffC4JJaV9yM_WlarIT_/view?usp=drive_link') Knox Rulebook
              p The Knox Mountain Downhill Race is an annual event co-founded by the Kamloops Longboard Club and Kelowna Longboard Alliance. Our goal is to foster the sport of downhill skateboarding in interior British Columbia, Canada. This event attracts a diverse group of athletes from around the globe, with over 60 participants in the last year. This year KMDH will take place #{dates}!
              br
              p Spectators are welcome and encouraged to come out and support the riders!
              ul
                li
                  span.icon_check
                  |  Downhill Skateboarders and Street Lugers of all ages welcome
                li
                  span.icon_check
                  |  Official Qualifier for Team Canada
                li
                  span.icon_check
                  |  North American Downhill League Race Format
                li
                  span.icon_check
                  |  Top 4 fastest Skateboard athletes seeded directly into Semi-Finals
                li
                  span.icon_check
                  |  Top 2 fastest Luge athletes seeded directly into Semi-Finals
                //li
                //  span.icon_check
                //  |  Open, Womens, and Grom race classes
                li
                  span.icon_check
                  |  Cash Podium
                li
                  span.icon_check
                  |  Spectators Welcome

          .col-lg-6
            .ha-text
              //img(src='img/partner-logo/confirmed/BCID_Supported_V_RGB_pos.png' alt)
              //p Knox Mountain Downhill gratefully acknowledge the financial support of the Province of British Columbia.
          .col-lg-6
            .ha-text
              a(href='https://www.iheart.com/live/999-sun-fm-7533/')
                img(src='img/partner-logo/confirmed/SunRadio_sm.png' alt)
              p KMDH is proud to partner with Kelowna's #1 Hit Music Station.

    //  Home About Section End 
