//  latest BLog Section Begin 
html
  head
  body
    section.latest-blog.spad
      .container
        .row
          .col-lg-12
            .section-title
              h2 Latest News
              //                         <p>We can do a blog section yup</p>
        .row
          .col-lg-6
            .latest-item.set-bg.large-item(data-setbg='img/blog/latest-b/latest-1.jpg')
              .li-tag Event Sponsor
              .li-text
                h4
                  a(href='./blog-details.html') {New Sponsor} joins KMDH
                span
                  i.fa.fa-clock-o
                  |  19th May, 2023
          .col-lg-6
            .latest-item.set-bg(data-setbg='img/blog/latest-b/latest-2.jpg')
              .li-tag Rider Experience
              .li-text
                h5
                  a(href='./blog-details.html') Changes to the official KMDH rules.
                span
                  i.fa.fa-clock-o
                  |  19th May, 2023
            .latest-item.set-bg(data-setbg='img/blog/latest-b/latest-3.jpg')
              .li-tag Safety
              .li-text
                h5
                  a(href='./blog-details.html') Updates to our race track: Hay for days
                span
                  i.fa.fa-clock-o
                  |  19th May, 2023
    //  latest BLog Section End 
