//  About Section Begin
html
  head
  body
    section.about-section.spad
      .container
        .row
          .col-lg-12
            .about-pic
              //iframe(width='100%' height='315' src='https://www.youtube.com/watch?v=V3_j8ojGFjY' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
              img(src='img/KMDH2024_map_v1.png' alt)

    //  About Section End
