//  Newsletter Section Begin
html
  head
  body
    section.newslatter-section#sub
      .container
        .newslatter-inner.set-bg(data-setbg='img/newslatter-bg-flow.jpg')
          .ni-text
            h3 JOIN OUR MAILING LIST
            p We will only e-mail you with information regarding the event
          form.ni-form#mc-embedded-subscribe-form.validate(action='https://github.us10.list-manage.com/subscribe/post?u=52ec7b34dfb9800871a80ccc3&id=e2fd13ac0f&f_id=000fcde5f0' method='post' name='mc-embedded-subscribe-form' target='_self')
            input.required.email(type='email' value='' name='EMAIL' required='' placeholder='Your email')
            button(type='submit' value='Subscribe' name='subscribe') Subscribe
            div(hidden='true')
              input(type='hidden' name='tags' value='13508524')
            .clear.foot
              .response(style='display:none')
              .response(style='display:none')
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;' aria-hidden='true')
              input(type='text' name='b_52ec7b34dfb9800871a80ccc3_e2fd13ac0f' tabindex='-1' value='')
            //.optionalParent
            //  .clear.foot
            //    input#mc-embedded-subscribe.button(type='submit' value='Subscribe' name='subscribe')
            //    p.brandingLogo
            //      a(href='http://eepurl.com/immqgA' title='Mailchimp - email marketing made easy and fun')
            //        img(src='https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg')

