//  Pricing Section Begin 
html
  head
  body
    section.pricing-section.set-bg.spad(data-setbg='img/pricing-bg.jpg')
      .container
        .row
          .col-lg-12
            .section-title
              h2 REGISTRATION COMING SOON
              p Register Now
        .row.justify-content-center
          .col-lg-4.col-md-8
            .price-item
              h4 Freeride Only
              h4 Early Bird Registration
              .pi-price
                h2
                  span $
                  | 115
              ul
                li Freeride Only
                li Downhill Skateboard, Luge, or both
              a.price-btn(href='#')
                | Register Now
                span.arrow_right
          .col-lg-4.col-md-8
            .price-item.top-rated
              .tr-tag
                i.fa.fa-star
              h4 Race & Freeride
              h4 Early Bird Registration
              .pi-price
                h2
                  span $
                  | 180
              ul
                li Freeride & Race
                li Downhill Skateboard or Luge
                li Timed Runs & Qualifiers
                li Open, Womens, & Grom race classes
                li Cash Podium
              a.price-btn(href='#')
                | Register Now
                span.arrow_right
          //.col-lg-4.col-md-8
          //  .price-item
          //    h4 Race and Freeride
          //    h4 Late Bird Registration
          //    .pi-price
          //      h2
          //        span $
          //        | 420
          //    ul
          //      li Same as Early Bird but cost more
          //      li Freeride and Race
          //      li Downhill Skateboard or Luge
          //      li Timed Runs & Qualifiers
          //      li Open, Womens, and Grom race classes
          //      li Cash Podium
          //      li Seriously, just register early bird
          //    a.price-btn(href='#')
          //      | Register Now
          //      span.arrow_right
    //  Pricing Section End 
