//  Pricing Section Begin
html
  head
  body
    section.pricing-section.set-bg.spad(data-setbg='img/pricing-bg.jpg')
      .container
        .row
          .col-lg-12
            .section-title
              h2 REGISTRATION PACKAGES
              p Registration Opens June 5, 2024
        .row.justify-content-center
          .col-lg-4.col-md-8
            .price-item
              h4 Early Bird
              h4 Freeride Only
              .pi-price
                h2
                  span $
                  | 150
              ul
                li Early Bird Package Valid from April 5 to May 2 2024
                li Downhill Skateboard, Luge, or Inline
                li Sponsor Swag Bag
                li A KMDH Trading Card with you on it
                li Pack of KMDH Rider Trading Cards
              //a.price-btn(href='https://forms.gle/LB6HzmwkSR5xfJgC9')
              //  | Register Now
                span.arrow_right
          .col-lg-4.col-md-8
            .price-item.top-rated
              .tr-tag
                i.fa.fa-star
              h4 Early Bird
              h4 Race & Freeride
              .pi-price
                h2
                  span $
                  | 220
              ul
                li Early Bird Package Valid from April 5 to May 2 2024
                li Downhill Skateboard or Luge
                li Open, Womens, & Grom race classes
                li Cash Podium
                li Sponsor Swag Bag
                li A KMDH Trading Card with you on it
                li Pack of KMDH Rider Trading Cards
              //a.price-btn(href='https://forms.gle/LB6HzmwkSR5xfJgC9')
              //  | Register Now
                span.arrow_right
          .col-lg-4.col-md-8
            .price-item
              h4 Late Bird Registration
              h4 Race & Freeride
              .pi-price
                h2
                  span $
                  | 420
              ul
                li Early Bird Price Ends On May 2 2024
                li Freeride and Race
                li Downhill Skateboard or Luge
                li Open, Womens, and Grom race classes
                li Cash Podium
                li Seriously, just register early bird
              //a.price-btn(href='https://forms.gle/LB6HzmwkSR5xfJgC9')
              //  | Register Now
                span.arrow_right
      //Pricing Section End
