//  Pricing Section Begin 
html
  head
  body
    section.pricing-section.set-bg.spad(data-setbg='img/pricing-bg.jpg')
      .container
        .row
          .col-lg-12
            .section-title
              h2 REGISTRATION COMING SOON
              p Sign up for our mailing list to be notified when registration opens
        //.row.justify-content-center
        //  .col-lg-4.col-md-8
        //    .price-item
        //      h4 1 Day Pass
        //      .pi-price
        //        h2
        //          span $
        //          | 129
        //      ul
        //        li Freeride Only
        //        li Downhill Skateboard, Luge, or both
        //        li Lunch and Networking
        //        li Keynote talk
        //        li Talk to the Editors Session
        //      a.price-btn(href='#')
        //        | Get Ticket
        //        span.arrow_right
        //  .col-lg-4.col-md-8
        //    .price-item.top-rated
        //      .tr-tag
        //        i.fa.fa-star
        //      h4 Race Registration
        //      .pi-price
        //        h2
        //          span $
        //          | 199
        //      ul
        //        li Freeride and Race
        //        li Downhill Skateboard or Luge
        //        li Timed Runs & Qualifiers
        //        li Open, Womens, and Grom race classes
        //        li Cash Podium
        //        li Lunch and Networking
        //        li Keynote talk
        //      a.price-btn(href='#')
        //        | Get Ticket
        //        span.arrow_right
        //  .col-lg-4.col-md-8
        //    .price-item
        //      h4 Hay Crew Pass
        //      .pi-price
        //        h2
        //          span $
        //          | 79
        //      ul
        //        li Volunteer for event setup/teardown and we will subsidized your registration
        //        li Freeride and Race
        //        li Downhill Skateboard or Luge
        //        li Timed Runs & Qualifiers
        //        li Open, Womens, and Grom race classes
        //      a.price-btn(href='#')
        //        | Get Ticket
        //        span.arrow_right
    //  Pricing Section End 
