//  Race Results Section
html
    head
    body
        section.about-section.spad
            .container
                .row
                    .col-lg-12
                        .section-title
                            h2 Race Results
                            p.f-para The Kelowna Longboard Alliance (KLA) is a group of longboard enthusiasts in Kelowna, British Columbia, Canada. Along with Kamloops Longboard Club (KLC), we work to promote and grow the sport of longboarding in our community. We organize events, races, and meetups to bring the community together and encourage new riders to get involved. We also work to improve the infrastructure and facilities for longboarding in the area, such as building and maintaining downhill runs and working with the local government to ensure the safety of riders.
                            p We also partner and sponsor local riders and organize lessons and workshops to help you improve your skills. In addition to promoting the sport, we also focus on promoting safe and responsible riding habits. Together, the Kamloops Longboard Club and Kelowna Longboard Alliance founded the Knox Mountain Downhill Race, an annual event that aims to promote downhill longboarding in interior British Columbia, Canada

        //  Race Results Section End
