//  Schedule Table Section Begin 
html
  head
  body
    section.schedule-table-section.spad
      .container
        .row
          .col-lg-12
            .schedule-table-tab
              ul.nav.nav-tabs(role='tablist')
                li.nav-item
                  a.nav-link.active(data-toggle='tab' href='#tabs-1' role='tab') Marketing
                li.nav-item
                  a.nav-link(data-toggle='tab' href='#tabs-2' role='tab') Business
                li.nav-item
                  a.nav-link(data-toggle='tab' href='#tabs-3' role='tab') Technology
                li.nav-item
                  a.nav-link(data-toggle='tab' href='#tabs-4' role='tab') Experience
                li.nav-item
                  a.nav-link(data-toggle='tab' href='#tabs-5' role='tab') Event
              //  Tab panes 
              .tab-content
                .tab-pane.active#tabs-1(role='tabpanel')
                  .schedule-table-content
                    table
                      thead
                        tr
                          th
                          th
                            strong Day 1
                            span May 09, 2019
                          th
                            strong Day 2
                            span May 11, 2019
                          th
                            strong Day 3
                            span May 12, 2019
                          th
                            strong Day 4
                            span May 14, 2019
                      tbody
                        tr
                          td.event-time 10:00
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                        tr
                          td.event-time 11:00
                          td.hover-bg
                            h5 Talking To Life
                            p
                              span By
                              |  John Smith
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Delia Mullins
                          td.hover-bg
                            h5 Introduce Technology
                            p
                              span By
                              |  Bryan Clark
                          td.hover-bg
                            h5 Marketing Design
                            p
                              span By
                              |  Ida Manning
                        tr
                          td.event-time 13:30
                          td.hover-bg
                            h5 Meet Up Marketing
                            p
                              span By
                              |  Mc Cage
                          td.hover-bg
                            h5 Conect People
                            p
                              span By
                              |  James Colon
                          td.hover-bg
                            h5 Maximize CEO
                            p
                              span By
                              |  Elmer Dunn
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Martha Fuller
                        tr
                          td.event-time 18:00
                          td.hover-bg
                            h5 Technology Future
                            p
                              span By
                              |  Thomas Munoz
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Mattie Hanson
                          td.hover-bg
                            h5 Camping
                            p
                              span By
                              |  Rachel Arnold
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Leonard Daniels
                .tab-pane#tabs-2(role='tabpanel')
                  .schedule-table-content
                    table
                      thead
                        tr
                          th
                          th
                            strong Day 1
                            span May 09, 2019
                          th
                            strong Day 2
                            span May 11, 2019
                          th
                            strong Day 3
                            span May 12, 2019
                          th
                            strong Day 4
                            span May 14, 2019
                      tbody
                        tr
                          td.event-time 15:00
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                        tr
                          td.event-time 16:00
                          td.hover-bg
                            h5 Talking To Life
                            p
                              span By
                              |  John Smith
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Delia Mullins
                          td.hover-bg
                            h5 Introduce Technology
                            p
                              span By
                              |  Bryan Clark
                          td.hover-bg
                            h5 Marketing Design
                            p
                              span By
                              |  Ida Manning
                        tr
                          td.event-time 17:30
                          td.hover-bg
                            h5 Meet Up Marketing
                            p
                              span By
                              |  Mc Cage
                          td.hover-bg
                            h5 Conect People
                            p
                              span By
                              |  James Colon
                          td.hover-bg
                            h5 Maximize CEO
                            p
                              span By
                              |  Elmer Dunn
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Martha Fuller
                        tr
                          td.event-time 18:00
                          td.hover-bg
                            h5 Technology Future
                            p
                              span By
                              |  Thomas Munoz
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Mattie Hanson
                          td.hover-bg
                            h5 Camping
                            p
                              span By
                              |  Rachel Arnold
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Leonard Daniels
                .tab-pane#tabs-3(role='tabpanel')
                  .schedule-table-content
                    table
                      thead
                        tr
                          th
                          th
                            strong Day 1
                            span May 09, 2019
                          th
                            strong Day 2
                            span May 11, 2019
                          th
                            strong Day 3
                            span May 12, 2019
                          th
                            strong Day 4
                            span May 14, 2019
                      tbody
                        tr
                          td.event-time 16:00
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                        tr
                          td.event-time 17:00
                          td.hover-bg
                            h5 Talking To Life
                            p
                              span By
                              |  John Smith
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Delia Mullins
                          td.hover-bg
                            h5 Introduce Technology
                            p
                              span By
                              |  Bryan Clark
                          td.hover-bg
                            h5 Marketing Design
                            p
                              span By
                              |  Ida Manning
                        tr
                          td.event-time 18:30
                          td.hover-bg
                            h5 Meet Up Marketing
                            p
                              span By
                              |  Mc Cage
                          td.hover-bg
                            h5 Conect People
                            p
                              span By
                              |  James Colon
                          td.hover-bg
                            h5 Maximize CEO
                            p
                              span By
                              |  Elmer Dunn
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Martha Fuller
                        tr
                          td.event-time 19:00
                          td.hover-bg
                            h5 Technology Future
                            p
                              span By
                              |  Thomas Munoz
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Mattie Hanson
                          td.hover-bg
                            h5 Camping
                            p
                              span By
                              |  Rachel Arnold
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Leonard Daniels
                .tab-pane#tabs-4(role='tabpanel')
                  .schedule-table-content
                    table
                      thead
                        tr
                          th
                          th
                            strong Day 1
                            span May 09, 2019
                          th
                            strong Day 2
                            span May 11, 2019
                          th
                            strong Day 3
                            span May 12, 2019
                          th
                            strong Day 4
                            span May 14, 2019
                      tbody
                        tr
                          td.event-time 09:00
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                        tr
                          td.event-time 10:00
                          td.hover-bg
                            h5 Talking To Life
                            p
                              span By
                              |  John Smith
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Delia Mullins
                          td.hover-bg
                            h5 Introduce Technology
                            p
                              span By
                              |  Bryan Clark
                          td.hover-bg
                            h5 Marketing Design
                            p
                              span By
                              |  Ida Manning
                        tr
                          td.event-time 13:30
                          td.hover-bg
                            h5 Meet Up Marketing
                            p
                              span By
                              |  Mc Cage
                          td.hover-bg
                            h5 Conect People
                            p
                              span By
                              |  James Colon
                          td.hover-bg
                            h5 Maximize CEO
                            p
                              span By
                              |  Elmer Dunn
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Martha Fuller
                        tr
                          td.event-time 14:00
                          td.hover-bg
                            h5 Technology Future
                            p
                              span By
                              |  Thomas Munoz
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Mattie Hanson
                          td.hover-bg
                            h5 Camping
                            p
                              span By
                              |  Rachel Arnold
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Leonard Daniels
                .tab-pane#tabs-5(role='tabpanel')
                  .schedule-table-content
                    table
                      thead
                        tr
                          th
                          th
                            strong Day 1
                            span May 09, 2019
                          th
                            strong Day 2
                            span May 11, 2019
                          th
                            strong Day 3
                            span May 12, 2019
                          th
                            strong Day 4
                            span May 14, 2019
                      tbody
                        tr
                          td.event-time 20:00
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                          td.break.hover-bg
                            h5 Coffee Break
                        tr
                          td.event-time 22:00
                          td.hover-bg
                            h5 Talking To Life
                            p
                              span By
                              |  John Smith
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Delia Mullins
                          td.hover-bg
                            h5 Introduce Technology
                            p
                              span By
                              |  Bryan Clark
                          td.hover-bg
                            h5 Marketing Design
                            p
                              span By
                              |  Ida Manning
                        tr
                          td.event-time 23:30
                          td.hover-bg
                            h5 Meet Up Marketing
                            p
                              span By
                              |  Mc Cage
                          td.hover-bg
                            h5 Conect People
                            p
                              span By
                              |  James Colon
                          td.hover-bg
                            h5 Maximize CEO
                            p
                              span By
                              |  Elmer Dunn
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Martha Fuller
                        tr
                          td.event-time 24:00
                          td.hover-bg
                            h5 Technology Future
                            p
                              span By
                              |  Thomas Munoz
                          td.hover-bg
                            h5 Reinventing Experiences
                            p
                              span By
                              |  Mattie Hanson
                          td.hover-bg
                            h5 Camping
                            p
                              span By
                              |  Rachel Arnold
                          td.hover-bg
                            h5 Social Website
                            p
                              span By
                              |  Leonard Daniels
    //  Schedule Table Section End 
