//  Speaker Section Begin 
html
  head
  body
    section.breadcrumb-section
      .container
        .row
          .col-lg-12
            .breadcrumb-text
              h2 Our Packages
              //.bt-option
              //    a(href='#') Home
              //    span Our Sponsors
    section.schedule-table-section.spad
      .container
        .row
          .col-lg-12
            .schedule-table-tab
              .tab-content
                .tab-pane.active#tabs-1(role='tabpanel')
                  .schedule-table-content
                    table
                      thead
                        tr
                          th
                          th
                            strong.bronze Bronze
                          th
                            strong.silver  Silver
                          th
                            strong.gold Gold
                          th
                            strong.platinum Platinum
                          th
                            strong.titlesp Title Sponsor
                      tbody
                        tr
                          td.event-time Logos on our website
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Sponsor Post
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Logos on back of all shirts
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5
                          td.break
                            h5
                        tr
                          td.event-time Recap Video
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Rider Posts
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time 2024 trailer video
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Custom photobooth banner
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Give away booth
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Logos on front of all shirts
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Booth to sell Products
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time 10 Custom images + 30 sec reel video
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5 X
                          td.break
                            h5 X
                        tr
                          td.event-time Logo on the title
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5
                          td.break
                            h5 X



