doctype html
html(lang='en')

    include templates/head
    include templates/preloader
    include templates/header_template
    include templates/contactpage_map_template
    include templates/contactpage_form_template
    include templates/footer_template

// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
    //include templates/index_test
