doctype html
html(lang='en')

    include templates/head
    include templates/preloader

    //header
    include templates/header_template

    //hero
    include templates/hero_template
    //counter
    include templates/counter_template
    //about
    include templates/homeabout_template
    ////schedule
    //include templates/schedule_template
    ////pricing
    //include templates/pricing_template
    ////team member
    //include templates/team_member_template
    ////latestblog
    //include templates/latestblog_template
    //newsletter
    include templates/newsletter_template
    //contact
    include templates/contact_general_template
    //footer
    include templates/footer_template

    //Js
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
    //include templates/index_test
