//  Contact Top Content Section Begin 
html
  head
  body
    section.contact-content-section
      .container-fluid
        .row
          .col-lg-6
            .cc-text.set-bg(data-setbg='img/contact-content-bg.jpg')
              .row
                .col-lg-8.offset-lg-4
                  .section-title
                    h2 Location
                    //                                     <p>Get directions to our event center</p>
                  .cs-text
                    .ct-address
                      span Address:
                      p
                        | Knox Mountain Dr, Kelowna, BC
                        br
                        | Canada
                    ul
                      //                             <li>
                      //                                 <span>Phone:</span>
                      //                                 (+12)-345-67-8910
                      //                             </li>
                      li
                        span Contact Us:
                        | 
info@knoxmountaindh.ca

                    .ct-links
                      span Socials:
                      p
                        a(href='https://www.facebook.com/events/996998147944403/')
                          i.fa.fa-facebook
                        a(href='https://www.instagram.com/knoxmountaindownhill/')
                          i.fa.fa-instagram
                        a(href='https://www.youtube.com/watch?v=V3_j8ojGFjY')
                          i.fa.fa-youtube-play
          .col-lg-6
            .cc-map
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12222.692744869164!2d-119.48566014816242!3d49.90810286450711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537df36c32cea5d3%3A0x69e58d938eaef85!2sKnox%20Mountain%20Dr%2C%20Kelowna%2C%20BC%2C%20Canada!5e0!3m2!1sen!2sus!4v1677374621470!5m2!1sen!2sus' width='600' height='580' style='border:0;' allowfullscreen loading='lazy' referrerpolicy='no-referrer-when-downgrade')
              .map-hover
                i.fa.fa-map-marker
                .map-hover-inner
                  h5 KNOX MTN
                  p Kelowna, BC
    //  Contact Top Content Section End 
