//  Header Section Begin 
html
  head
  body
    header.header-section
      .container
        .logo
          a(href='./index.html')
            img(src='img/partner-logo/wordmark_horizontal_black_sm.png' alt='KNOX MOUNTAIN DOWNHILL')
        .nav-menu
          nav.mainmenu.mobile-menu
            ul
              li.active
                a(href='./index.html') Home
              li
                a(href='./about-us.html') About
              li
                a(href='sponsors.html') Sponsors
                //                             <ul class="dropdown">
                //                                 <li><a href="#">Jayden</a></li>
                //                                 <li><a href="#">Sara</a></li>
                //                             </ul>
              li
                a(href='./schedule.html') Schedule
              //                         <li><a href="./blog.pug">Blog</a></li>
              li
                a(href='./contact.html') Contacts
          a.primary-btn.top-btn(href='#')
            i.fa.fa-ticket
            |  RACER REGISTRATION 
        #mobile-menu-wrap
    //  Header End 
