//  Hero Section Begin 
html
  head
  body
    section.hero-section.set-bg(data-setbg='img/hero.jpg')
      .container
        .row
          .col-lg-7
            .hero-text
              .hero-text-box
                span June 17-18, 2023, Knox Mountain, Kelowna BC
                //                             <img class="hero-img" src="img/partner-logo/logo_red.png" alt="KNOX MOUNTAIN DOWNHILL">
                h2
                  | KNOX MOUNTAIN
                  br
                  | DOWNHILL 2023
                a.primary-btn(href='#') Register Now
                h2
          .col-lg-5
            img(src='img/hero-right.png' alt)
    //  Hero Section End 
