//  Hero Section Begin 
html
  head
  body
    section.hero-section.set-bg(data-setbg='img/hero.jpg')
      .container
        .row
          .col-lg-7
            img(class="hero-img" src="img/partner-logo/logo_white.png" alt="KNOX MOUNTAIN DOWNHILL")
            .hero-text
              .hero-text-box
                span June 17-18, 2023, Knox Mountain, Kelowna BC
                //h2
                //  | KNOX MOUNTAIN
                //  br
                //  | DOWNHILL 2023
                br
                span registration Coming Soon
                br
                a.primary-btn(href='#sub') Notify Me
                h2
          .col-lg-5
            img(src='img/hero-right.png' alt)
    //  Hero Section End 
