//  Home About Section Begin 
html
  head
  body
    section.home-about-section.spad
      .container
        .row
          .col-lg-6
            .ha-pic
              img(src='img/h-about.jpg' alt)
          .col-lg-6
            .ha-text
              h2 ABOUT KNOX MOUNTAIN DOWNHILL
              p The Knox Mountain Downhill Race is an annual event co-founded by the Kamloops Longboard Club and Kelowna Longboard Alliance. Our goal is to foster the sport of downhill skateboarding in interior British Columbia, Canada. This event attracts a diverse group of athletes from around the globe, with over 60 participants in the last year. Additionally, our race serves as a qualifier for Team Canada for both Mens and Womens Downhill Skateboarding disciplines. This year KMDH will take place June 17-18 2023! There will be one day of timed qualifying/freeride and one day of racing with open, women's and grom's classes. Spectators are welcome and encouraged to come out and support the riders!
              ul
                li
                  span.icon_check
                  |  Downhill Skateboarders and Lugers of all ages welcome
                li
                  span.icon_check
                  |  Timed Qualifiers using our world class timing system
                li
                  span.icon_check
                  |  Open, Womens/Non-Binary, and Grom race classes
                li
                  span.icon_check
                  |  Spectators Welcome
                //                             <li><span class="icon_check"></span> Kook 2 Directory Add Url Free</li>
              //                         <a href="#" class="ha-btn">Discover Now</a>
    //  Home About Section End 
