//  Newsletter Section Begin 
html
  head
  body
    section.newslatter-section
      .container
        .newslatter-inner.set-bg(data-setbg='img/newslatter-bg.jpg')
          .ni-text
            h3 JOIN OUR MAILING LIST {NOT IMPLEMENTED}
            p We will only e-mail you with information regarding the event
          form.ni-form(action='#')
            input(type='text' placeholder='Your email')
            button(type='submit') Subscribe
    //  Newslatter Section End 
