//  Speaker Section Begin 
html
  head
  body
    section.speaker-section.spad
      .container
        .row
          .col-sm-6
            .speaker-item
              .row
                .col-lg-6
                  .si-pic
                    img(src='img/speakers/speaker-1.jpg' alt)
                .col-lg-6
                  .si-text
                    .si-title
                      h4 Great Company
                      span Type of Company
                    .si-social
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-instagram
                      a(href='#')
                        i.fa.fa-home
                    p Some info on the sponsor that filles this secion. We are really greatful for this sponsors contributions and therefore want to market them on our website.
          .col-sm-6
            .speaker-item
              .row
                .col-lg-6
                  .si-pic
                    img(src='img/speakers/speaker-2.jpg' alt)
                .col-lg-6
                  .si-text
                    .si-title
                      h4 Great Company
                      span Type of Company
                    .si-social
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-instagram
                      a(href='#')
                        i.fa.fa-home
                    p Some info on the sponsor that filles this secion. We are really greatful for this sponsors contributions and therefore want to market them on our website.
          .col-sm-6
            .speaker-item
              .row
                .col-lg-6
                  .si-pic
                    img(src='img/speakers/speaker-3.jpg' alt)
                .col-lg-6
                  .si-text
                    .si-title
                      h4 Great Company
                      span Type of Company
                    .si-social
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-instagram
                      a(href='#')
                        i.fa.fa-home
                    p Some info on the sponsor that filles this secion. We are really greatful for this sponsors contributions and therefore want to market them on our website.
          .col-sm-6
            .speaker-item
              .row
                .col-lg-6
                  .si-pic
                    img(src='img/speakers/speaker-4.jpg' alt)
                .col-lg-6
                  .si-text
                    .si-title
                      h4 Great Company
                      span Type of Company
                    .si-social
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-instagram
                      a(href='#')
                        i.fa.fa-home
                    p Some info on the sponsor that filles this secion. We are really greatful for this sponsors contributions and therefore want to market them on our website.
          .col-sm-6
            .speaker-item
              .row
                .col-lg-6
                  .si-pic
                    img(src='img/speakers/speaker-5.jpg' alt)
                .col-lg-6
                  .si-text
                    .si-title
                      h4 Great Company
                      span Type of Company
                    .si-social
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-instagram
                      a(href='#')
                        i.fa.fa-home
                    p Some info on the sponsor that filles this secion. We are really greatful for this sponsors contributions and therefore want to market them on our website.
          .col-sm-6
            .speaker-item
              .row
                .col-lg-6
                  .si-pic
                    img(src='img/speakers/speaker-6.jpg' alt)
                .col-lg-6
                  .si-text
                    .si-title
                      h4 Great Company
                      span Type of Company
                    .si-social
                      a(href='#')
                        i.fa.fa-facebook
                      a(href='#')
                        i.fa.fa-instagram
                      a(href='#')
                        i.fa.fa-home
                    p Some info on the sponsor that filles this secion. We are really greatful for this sponsors contributions and therefore want to market them on our website.
        .load-more
          a.primary-btn(href='#') Load More
    //  Speaker Section End 
