html
  head
  body
    section.team-member-section
      .container
        .row
          .col-lg-12
            .section-title
              h2 KMDH 2023 Team
              p
      .member-item.set-bg(data-setbg='img/team-member/member-1.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 David Befus
          span Event Director
      .member-item.set-bg(data-setbg='img/team-member/member-2.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Elycia Finch
          span Event Coodinator
          span External
      .member-item.set-bg(data-setbg='img/team-member/member-3.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 William Chung
          span Event Coodinator
          span Internal
      .member-item.set-bg(data-setbg='img/team-member/member-4.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Jason Chan
          span Marketing & PR
      .member-item.set-bg(data-setbg='img/team-member/member-5.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Gavin Ruthford
          span Accommodations Specialist
      .member-item.set-bg(data-setbg='img/team-member/member-6.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Jason Chan
          span Head of Marketing
      .member-item.set-bg(data-setbg='img/team-member/member-7.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Emma Sandoval
          span Speaker
      .member-item.set-bg(data-setbg='img/team-member/member-8.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Emma Sandoval
          span Speaker
      .member-item.set-bg(data-setbg='img/team-member/member-9.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Emma Sandoval
          span Speaker
      .member-item.set-bg(data-setbg='img/team-member/member-10.jpg')
        .mi-social
          .mi-social-inner.bg-gradient
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-instagram
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-linkedin
        .mi-text
          h5 Emma Sandoval
          span Speaker
