doctype html
html(lang='zxx')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Manup Template')
        meta(name='keywords', content='Manup, unica, creative, html')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Manup | Template
        // Google Font
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap', rel='stylesheet')
        // Css Styles
        link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')
        link(rel='stylesheet', href='css/elegant-icons.css', type='text/css')
        link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
        link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
        link(rel='stylesheet', href='css/slicknav.min.css', type='text/css')
        link(rel='stylesheet', href='css/styles.css', type='text/css')
    body
        // Page Preloder
        #preloder
            .loader
        // Header Section Begin
        header.header-section
            .container
                .logo
                    a(href='./index.pug')
                        img(src='assets/img/logo.png', alt='')
                .nav-menu
                    nav.mainmenu.mobile-menu
                        ul
                            li
                                a(href='./index.pug') Home
                            li
                                a(href='about-us.pug') About
                            li
                                a(href='./speaker.pug') Sponsors
                                ul.dropdown
                                    li
                                        a(href='#') Jayden
                                    li
                                        a(href='#') Sara
                                    li
                                        a(href='#') Emma
                                    li
                                        a(href='#') Harriet
                            li
                                a(href='./schedule.pug') Schedule
                            li.active
                                a(href='blog.pug') Blog
                            li
                                a(href='./contact.pug') Contacts
                    a.primary-btn.top-btn(href='#')
                        i.fab.fa-ticket
                        |  Ticket
                #mobile-menu-wrap
        // Header End
        // Blog Details Hero Section Begin
        section.blog-hero-section.set-bg(data-setbg='assets/img/blog/blog-details/blog-details-hero.jpg')
            .container
                .row
                    .col-lg-12
                        .bh-text
                            a.play-btn.video-popup(href='https://www.youtube.com/watch?v=EzKkl64rRbM')
                                i.fab.fa-play
                            h2 Improve You Business Cards
                            ul
                                li
                                    span
                                        | By
                                        strong John Smith
                                li February 21, 2019
                                li No Comments
        // Blog Details Hero Section End
        // Blog Details Section Begin
        section.blog-details-section
            .container
                .row
                    .col-lg-8.m-auto
                        .bd-text
                            .bd-title
                                p
                                    | Postcards are also viable ways to generate increased contact for your business but
                                    | because business cards are handier and easier to fit into a wallet or a business file
                                    | organizer, they are more certain to be carried anywhere and anytime.
                                p
                                    | Postcards are also viable ways to generate increased contact for your business but
                                    | because business cards are handier and easier to fit into a wallet or a business file
                                    | organizer, they are more certain to be carried anywhere and anytime. Moreover, what is
                                    | printed on the card is as important as to how the information is printed. A business
                                    | card should have the name and the logo of the company.
                            .bd-quote
                                p
                                    | As a result of your work, the senior leadership team walked away as a cohesive unit,
                                    | re-energized and more hopeful. We are committed to a new future which we now own. You
                                    | helped us learn how to be resilient change masters.&quot;
                                span John Smith
                                img(src='assets/img/quote-left.png', alt='')
                            .bd-more-text
                                h4 Free Classifieds Using Them To Promote Your Stuff Online
                                p
                                    | Postcards are also viable ways to generate increased contact for your business but
                                    | because business cards are handier and easier to fit into a wallet or a business file
                                    | organizer, they are more certain to be carried anywhere and anytime. Moreover, what is
                                    | printed on the card is as important as to how the information is printed. A business
                                    | card should have the name and the logo of the company or business, the slogan or motto
                                    | of the company, the contact person, contact numbers or cell phone numbers, the business
                                    | website, and if possible, a physical address.
                            .bd-more-pic
                                .row
                                    .col-md-6
                                        img(src='assets/img/blog/blog-details/blog-more-1.jpg', alt='')
                                    .col-md-6
                                        img(src='assets/img/blog/blog-details/blog-more-2.jpg', alt='')
                            .bd-more-text.second-text
                                h4 Freelance Design Tricks How To Get Away With Murder In The Workplace
                                p
                                    | Any business should never underestimate the power of business cards. It is able to
                                    | provide quick information, is easy to keep, and if optimized to the fullest, can
                                    | generate impressive sales increase.
                                p
                                    | Even the empty space at the back of a card can be utilized to hold additional information
                                    | like a map or an attractive freebie. Business cards can surely help any business to be
                                    | more well-known and profitable in the long run.
                            .bd-tag-share
                                .tag
                                    a(href='#') Marketing
                                    a(href='#') Experience
                                .s-share
                                    span Share:
                                    a(href='#')
                                        i.fab.fa-facebook
                                    a(href='#')
                                        i.fab.fa-twitter
                                    a(href='#')
                                        i.fab.fa-google-plus
                                    a(href='#')
                                        i.fab.fa-instagram
        // Blog Details Section End
        // Comment Form Section Begin
        .comment-section.spad
            .container
                .row
                    .col-lg-12
                        .section-title
                            h3 Leave A Comment
                .row
                    .col-lg-8.m-auto
                        form.comment-form(action='#')
                            .row
                                .col-lg-4
                                    input(type='text', placeholder='Name')
                                .col-lg-4
                                    input(type='text', placeholder='Email')
                                .col-lg-4
                                    input(type='text', placeholder='Phone')
                                .col-lg-12.text-center
                                    textarea(placeholder='Messages')
                                    button.site-btn(type='submit') Send Message
        // Comment Form Section End
        // Related Post Section Begin
        section.related-post-section.spad
            .container
                .row
                    .col-lg-12
                        .section-title
                            h2 Relatest Post
                .row
                    .col-md-4
                        .blog-item.set-bg(data-setbg='assets/img/related-post/related-post-1.jpg')
                            .bi-tag.bg-gradient Foody
                            .bi-text
                                h5
                                    a(href='#') Free Classifiends Using Them To Promote
                                span
                                    i.fab.fa-clock-o
                                    |  19th May, 2019
                    .col-md-4
                        .blog-item.set-bg(data-setbg='assets/img/related-post/related-post-2.jpg')
                            .bi-tag.bg-gradient Foody
                            .bi-text
                                h5
                                    a(href='#') Discover Your Path To Success Part 4
                                span
                                    i.fab.fa-clock-o
                                    |  19th May, 2019
                    .col-md-4
                        .blog-item.set-bg(data-setbg='assets/img/related-post/related-post-3.jpg')
                            .bi-tag.bg-gradient Foody
                            .bi-text
                                h5
                                    a(href='#') Importance Of The Custom Company Logo Design
                                span
                                    i.fab.fa-clock-o
                                    |  19th May, 2019
        // Related Post Section End
        // Footer Section Begin
        footer.footer-section
            .container
                .partner-logo.owl-carousel
                    a.pl-table(href='#')
                        .pl-tablecell
                            img(src='assets/img/partner-logo/klc_white.png', alt='')
                    a.pl-table(href='#')
                        .pl-tablecell
                            img(src='assets/img/partner-logo/coast.png', alt='')
                    a.pl-table(href='#')
                        .pl-tablecell
                            img(src='assets/img/partner-logo/logo-3.png', alt='')
                    a.pl-table(href='#')
                        .pl-tablecell
                            img(src='assets/img/partner-logo/logo-4.png', alt='')
                    a.pl-table(href='#')
                        .pl-tablecell
                            img(src='assets/img/partner-logo/logo-5.png', alt='')
                    a.pl-table(href='#')
                        .pl-tablecell
                            img(src='assets/img/partner-logo/logo-6.png', alt='')
                .row
                    .col-lg-12
                        .footer-text
                            .ft-logo
                                a.footer-logo(href='#')
                                    img(src='assets/img/footer-logo.png', alt='')
                            ul
                                li
                                    a(href='#') Home
                                li
                                    a(href='#') Sponsors
                                li
                                    a(href='#') Schedule
                                li
                                    a(href='#') Blog
                                li
                                    a(href='#') Contact
                            .copyright-text
                                p
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                                    | Copyright &copy;
                                    script.
                                        document.write(new Date().getFullYear());
                                    |  All rights reserved | This template is made with
                                    i.fab.fa-heart(aria-hidden='true')
                                    |  by
                                    a(href='https://colorlib.com', target='_blank') Colorlib
                                    // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            .ft-social
                                a(href='#')
                                    i.fab.fa-facebook
                                a(href='#')
                                    i.fab.fa-twitter
                                a(href='#')
                                    i.fab.fa-linkedin
                                a(href='#')
                                    i.fab.fa-instagram
                                a(href='#')
                                    i.fab.fa-youtube-play
        // Footer Section End
        // Js Plugins
        script(src='js/jquery-3.3.1.min.js')
        script(src='js/bootstrap.min.js')
        script(src='js/jquery.magnific-popup.min.js')
        script(src='js/jquery.countdown.min.js')
        script(src='js/jquery.slicknav.js')
        script(src='js/owl.carousel.min.js')
        script(src='js/main.js')