doctype html
html(lang='zxx')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Knox Mountain Downhill')
        meta(name='keywords', content='knox, mountain, downhill, skateboard, race, longboarding, klc, kla')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Manup | Template
        // Google Font
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap', rel='stylesheet')
        // Css Styles
        link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')
        link(rel='stylesheet', href='css/elegant-icons.css', type='text/css')
        link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
        link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
        link(rel='stylesheet', href='css/slicknav.min.css', type='text/css')
        link(rel='stylesheet', href='css/styles.css', type='text/css')
    body
        // Page Preloder
        #preloder
            .loader
        // Header Section Begin
        header.header-section
            .container
                .logo
                    a(href='./index.html')
                        img(src='assets/img/logo.png', alt='')
                .nav-menu
                    nav.mainmenu.mobile-menu
                        ul
                            li.active
                                a(href='./index.html') Home
                            li
                                a(href='./about-us.html') About
                            li
                                a(href='./speaker.html') Sponsors
                                // <ul class="dropdown">
                                // <li><a href="#">Jayden</a></li>
                                // <li><a href="#">Sara</a></li>
                                // <li><a href="#">Emma</a></li>
                                // <li><a href="#">Harriet</a></li>
                                // </ul>
                            li
                                a(href='./schedule.html') Schedule
                            // <li><a href="./blog.pug">Blog</a></li>
                            li
                                a(href='./contact.html') Contacts
                    a.primary-btn.top-btn(href='#')
                        i.fab.fa-ticket
                        |  Racer Registration
                #mobile-menu-wrap
        // Header End
        // Hero Section Begin
        section.hero-section.set-bg(data-setbg='assets/img/hero.jpg')
            .container
                .row
                    .col-lg-7
                        .hero-text
                            span June 17-18, 2023, Knox Mountain, Kelowna BC
                            h2
                                | Knox Mountain
                                br
                                | Downhill 2023
                            a.primary-btn(href='#') Register Now
                            h2
                    .col-lg-5
                        img(src='assets/img/hero-right.png', alt='')
        // Hero Section End
        // Counter Section Begin
        section.counter-section.bg-gradient
            .container
                .row
                    .col-lg-4
                        .counter-text
                            // <span>Conference Date</span>
                            h3
                                | Count Every Second
                                br
                                | Until the Race
                    .col-lg-8
                        #countdown.cd-timer
                            .cd-item
                                span 40
                                p Days
                            .cd-item
                                span 18
                                p Hours
                            .cd-item
                                span 46
                                p Minutes
                            .cd-item
                                span 32
                                p Seconds
        // Counter Section End
        // Home About Section Begin
        section.home-about-section.spad
            .container
                .row
                    .col-lg-6
                        .ha-pic
                            img(src='assets/img/h-about.jpg', alt='')
                    .col-lg-6
                        .ha-text
                            h2 About Knox Mountain Downhill
                            p
                                | KLC and KLA present the Second Annual Knox Mountain Downhill in beautiful Kelowna BC. Stay tuned for official 2023 event dates!
                                | Organized by Kelowna Longboard Association and Kamloops Longboard Club! One day of freeriding and time trials, and one day of racing.
                                | There will be one day of timed qualifying/freeride and one day of racing with open, women&apos;s and grom&apos;s classes.
                                | Spectators are welcome and encouraged to come out and support the riders.
                            ul
                                li
                                    span.icon_check
                                    |  Downhill Skateboarders and Lugers of all ages welcome
                                li
                                    span.icon_check
                                    |  Timed Qualifiers
                                li
                                    span.icon_check
                                    |  Open, Womens, and Grom race classes
                                li
                                    span.icon_check
                                    |  Spectators Welcome
                                // <li><span class="icon_check"></span> Kook 2 Directory Add Url Free</li>
                            // <a href="#" class="ha-btn">Discover Now</a>
        // Home About Section End
        // Schedule Section Begin
        section.schedule-section.spad
            .container
                .row
                    .col-lg-12
                        .section-title
                            h2 Knox 2023 Schedule
                            p Stay Tuned for updates on the event schedule
                .row
                    .col-lg-12
                        .schedule-tab
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#tabs-1', role='tab')
                                        h5 Day 1
                                        p June 17, 2023
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-2', role='tab')
                                        h5 Day 2
                                        p June 18, 2023
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-3', role='tab')
                                        h5 Day 3
                                        p May 06, 2019
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-4', role='tab')
                                        h5 Day 4
                                        p May 07, 2019
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-5', role='tab')
                                        h5 Day 5
                                        p May 08, 2019
                            // Tab panes
                            .tab-content
                                #tabs-1.tab-pane.active(role='tabpanel')
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-1.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Dealing with Difficult People
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-2.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 V7 Digital Photo Printing
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-3.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Beyond The Naked Eye
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-4.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Influencing The Influencer
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                #tabs-2.tab-pane(role='tabpanel')
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-1.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Dealing with Easy People
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-2.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 V7 Digital Photo Printing
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-3.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Beyond The Naked Eye
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-4.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Influencing The Influencer
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                #tabs-3.tab-pane(role='tabpanel')
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-1.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Dealing with Intermediate People
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-2.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 V7 Digital Photo Printing
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-3.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Beyond The Naked Eye
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-4.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Influencing The Influencer
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                #tabs-4.tab-pane(role='tabpanel')
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-1.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Dealing with Expert People
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-2.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 V7 Digital Photo Printing
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-3.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Beyond The Naked Eye
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-4.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Influencing The Influencer
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                #tabs-5.tab-pane(role='tabpanel')
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-1.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Dealing with Too Difficult People
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-2.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 V7 Digital Photo Printing
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-3.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Beyond The Naked Eye
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
                                    .st-content
                                        .container
                                            .row
                                                .col-lg-3
                                                    .sc-pic
                                                        img(src='assets/img/schedule/schedule-4.jpg', alt='')
                                                .col-lg-5
                                                    .sc-text
                                                        h4 Influencing The Influencer
                                                        ul
                                                            li
                                                                i.fab.fa-user
                                                                |  John Smith
                                                            li
                                                                i.fab.fa-envelope
                                                                |  john@Colorlib.com
                                                .col-lg-4
                                                    ul.sc-widget
                                                        li
                                                            i.fab.fa-clock-o
                                                            |  08:00 am - 10:00 AM
                                                        li
                                                            i.fab.fa-map-marker
                                                            |  59 Breanne Canyon Suite, USA
        // Schedule Section End
        // Pricing Section Begin
        section.pricing-section.set-bg.spad(data-setbg='assets/img/pricing-bg.jpg')
            .container
                .row
                    .col-lg-12
                        .section-title
                            h2 Registration Pricing
                            p Get your event ticket plan
                .row.justify-content-center
                    .col-lg-4.col-md-8
                        .price-item
                            h4 1 Day Pass
                            .pi-price
                                h2
                                    span $
                                    | 129
                            ul
                                li Freeride Only
                                li Downhill Skateboard, Luge, or both
                                li Lunch and Networking
                                li Keynote talk
                                li Talk to the Editors Session
                            a.price-btn(href='#')
                                | Get Ticket
                                span.arrow_right
                    .col-lg-4.col-md-8
                        .price-item.top-rated
                            .tr-tag
                                i.fab.fa-star
                            h4 Race Registration
                            .pi-price
                                h2
                                    span $
                                    | 199
                            ul
                                li Freeride and Race
                                li Downhill Skateboard or Luge
                                li Timed Runs &amp; Qualifiers
                                li Open, Womens, and Grom race classes
                                li Cash Podium
                                li Lunch and Networking
                                li Keynote talk
                            a.price-btn(href='#')
                                | Get Ticket
                                span.arrow_right
                    .col-lg-4.col-md-8
                        .price-item
                            h4 Hay Crew Pass
                            .pi-price
                                h2
                                    span $
                                    | 79
                            ul
                                li Volunteer for event setup/teardown and we will subsidized your registration
                                li Freeride and Race
                                li Downhill Skateboard or Luge
                                li Timed Runs &amp; Qualifiers
                                li Open, Womens, and Grom race classes
                            a.price-btn(href='#')
                                | Get Ticket
                                span.arrow_right
        // Pricing Section End
        // Team Member Section Begin
        section.team-member-section
            .container
                .row
                    .col-lg-12
                        .section-title
                            h2 Knox Mountain 2023 Events Team
                            p These are our communicators, you can see each person information
            .member-item.set-bg(data-setbg='assets/img/team-member/member-1.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 David Befus
                    span Orgainizer
            .member-item.set-bg(data-setbg='assets/img/team-member/member-2.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Elycia Finch
                    span Co-Orgazier
                    span Rider Expirience &amp; Track Safety
            .member-item.set-bg(data-setbg='assets/img/team-member/member-3.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 William Chung
                    span Speaker
            .member-item.set-bg(data-setbg='assets/img/team-member/member-4.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Gavin Ruthford
                    span Speaker
            .member-item.set-bg(data-setbg='assets/img/team-member/member-5.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Miles
                    span Timing System and Racing Logistics
            .member-item.set-bg(data-setbg='assets/img/team-member/member-6.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Jason Chan
                    span Head of Marketing
            .member-item.set-bg(data-setbg='assets/img/team-member/member-7.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Emma Sandoval
                    span Speaker
            .member-item.set-bg(data-setbg='assets/img/team-member/member-8.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Emma Sandoval
                    span Speaker
            .member-item.set-bg(data-setbg='assets/img/team-member/member-9.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Emma Sandoval
                    span Speaker
            .member-item.set-bg(data-setbg='assets/img/team-member/member-10.jpg')
                .mi-social
                    .mi-social-inner.bg-gradient
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                .mi-text
                    h5 Emma Sandoval
                    span Speaker
        // Team Member Section End
        // latest BLog Section Begin
        section.latest-blog.spad
            .container
                .row
                    .col-lg-12
                        .section-title
                            h2 Latest News
                            p Do not miss anything topic about the event
                .row
                    .col-lg-6
                        .latest-item.set-bg.large-item(data-setbg='assets/img/blog/latest-b/latest-1.jpg')
                            .li-tag Marketing
                            .li-text
                                h4
                                    a(href='./blog-details.pug') Improve You Business Cards And Enchan Your Sales
                                span
                                    i.fab.fa-clock-o
                                    |  19th May, 2019
                    .col-lg-6
                        .latest-item.set-bg(data-setbg='assets/img/blog/latest-b/latest-2.jpg')
                            .li-tag Experience
                            .li-text
                                h5
                                    a(href='./blog-details.pug') All users on MySpace will know that there are millions of people out there.
                                span
                                    i.fab.fa-clock-o
                                    |  19th May, 2019
                        .latest-item.set-bg(data-setbg='assets/img/blog/latest-b/latest-3.jpg')
                            .li-tag Marketing
                            .li-text
                                h5
                                    a(href='./blog-details.pug')
                                        | A Pocket PC is a handheld computer, which features many of the same capabilities.
                                span
                                    i.fab.fa-clock-o
                                    |  19th May, 2019
        // latest BLog Section End
        // Newslatter Section Begin
        section.newslatter-section
            .container
                .newslatter-inner.set-bg(data-setbg='assets/img/newslatter-bg.jpg')
                    .ni-text
                        h3 Subscribe Newsletter
                        p Subscribe to our e-newsletter and don&rsquo;t miss anything
                    form.ni-form(action='#')
                        input(type='text', placeholder='Your email')
                        button(type='submit') Subscribe
        // Newslatter Section End
        // Contact Section Begin
        section.contact-section.spad
            .container
                .row
                    .col-lg-6
                        .section-title
                            h2 Location
                            p Get directions to our event center
                        .cs-text
                            .ct-address
                                span Address:
                                p
                                    | Knox Mountain Dr, Kelowna, BC
                                    br
                                    | Canada
                            ul
                                li
                                    span Phone:
                                    | (+12)-345-67-8910
li
    span Email:
        | info@knoxmountaindh.ca
.ct-links
    span Website:
    p https://conference.colorlib.com
.col-lg-6
    .cs-map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2569.5518820519956!2d-119.486625648484!3d49.907215834137055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537df36c32cea5d3%3A0x69e58d938eaef85!2sKnox%20Mountain%20Dr%2C%20Kelowna%2C%20BC!5e0!3m2!1sen!2sca!4v1673984823238!5m2!1sen!2sca', height='400', style='border:0;', allowfullscreen='')
            Knox Mountain Dr, Kelowna, BC
// Contact Section End
// Footer Section Begin
footer.footer-section
    .container
        .partner-logo.owl-carousel
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/klc_white.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/coast.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-3.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-4.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-5.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-6.png', alt='')
        .row
            .col-lg-12
                .footer-text
                    .ft-logo
                        a.footer-logo(href='#')
                            img(src='assets/img/footer-logo.png', alt='')
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') Sponsors
                        li
                            a(href='#') Schedule
                        li
                            a(href='#') Blog
                        li
                            a(href='#') Contact
                    .copyright-text
                        p
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            | Copyright &copy;
                            script.
                                document.write(new Date().getFullYear());
                            |  All rights reserved | This template is made with
                            i.fab.fa-heart(aria-hidden='true')
                            |  by
                            a(href='https://colorlib.com', target='_blank') Colorlib
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    .ft-social
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-youtube-play
// Footer Section End
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')