doctype html
html(lang='zxx')
    head
        meta(charset='UTF-8')
        meta(name='description', content='Manup Template')
        meta(name='keywords', content='Manup, unica, creative, html')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Manup | Template
        // Google Font
        link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap', rel='stylesheet')
        // Css Styles
        link(rel='stylesheet', href='css/bootstrap.min.css', type='text/css')
        script(src='https://use.fontawesome.com/releases/v6.1.0/js/all.js', crossorigin='anonymous')
        link(rel='stylesheet', href='css/elegant-icons.css', type='text/css')
        link(rel='stylesheet', href='css/owl.carousel.min.css', type='text/css')
        link(rel='stylesheet', href='css/magnific-popup.css', type='text/css')
        link(rel='stylesheet', href='css/slicknav.min.css', type='text/css')
        link(rel='stylesheet', href='css/styles.css', type='text/css')
    body
        // Page Preloder
        #preloder
            .loader
        // Header Section Begin
        header.header-section.header-normal
            .container
                .logo
                    a(href='index.pug')
                        img(src='assets/img/logo.png', alt='')
                .nav-menu
                    nav.mainmenu.mobile-menu
                        ul
                            li
                                a(href='index.pug') Home
                            li
                                a(href='about-us.pug') About
                            li
                                a(href='./speaker.html') Sponsors
                                // <ul class="dropdown">
                                // <li><a href="#">Jayden</a></li>
                                // <li><a href="#">Sara</a></li>
                                // <li><a href="#">Emma</a></li>
                                // <li><a href="#">Harriet</a></li>
                                // </ul>
                            li.active
                                a(href='./schedule.html') Schedule
                            // <li><a href="./blog.pug">Blog</a></li>
                            li
                                a(href='contact.pug') Contacts
                    a.primary-btn.top-btn(href='#')
                        i.fab.fa-ticket
                        |  Ticket
                #mobile-menu-wrap
        // Header End
        // Breadcrumb Section Begin
        section.breadcrumb-section
            .container
                .row
                    .col-lg-12
                        .breadcrumb-text
                            h2 Event Schedule
                            .bt-option
                                a(href='#') Home
                                span Our Schedule
        // Breadcrumb Section End
        // Schedule Table Section Begin
        section.schedule-table-section.spad
            .container
                .row
                    .col-lg-12
                        .schedule-table-tab
                            ul.nav.nav-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#tabs-1', role='tab') Marketing
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-2', role='tab') Business
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-3', role='tab') Technology
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-4', role='tab') Experience
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#tabs-5', role='tab') Event
                            // Tab panes
                            .tab-content
                                #tabs-1.tab-pane.active(role='tabpanel')
                                    .schedule-table-content
                                        table
                                            thead
                                                tr
                                                    th
                                                    th
                                                        strong Day 1
                                                        span May 09, 2019
                                                    th
                                                        strong Day 2
                                                        span May 11, 2019
                                                    th
                                                        strong Day 3
                                                        span May 12, 2019
                                                    th
                                                        strong Day 4
                                                        span May 14, 2019
                                            tbody
                                                tr
                                                    td.event-time 10:00
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                tr
                                                    td.event-time 11:00
                                                    td.hover-bg
                                                        h5 Talking To Life
                                                        p
                                                            span By
                                                            |  John Smith
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Delia Mullins
                                                    td.hover-bg
                                                        h5 Introduce Technology
                                                        p
                                                            span By
                                                            |  Bryan Clark
                                                    td.hover-bg
                                                        h5 Marketing Design
                                                        p
                                                            span By
                                                            |  Ida Manning
                                                tr
                                                    td.event-time 13:30
                                                    td.hover-bg
                                                        h5 Meet Up Marketing
                                                        p
                                                            span By
                                                            |  Mc Cage
                                                    td.hover-bg
                                                        h5 Conect People
                                                        p
                                                            span By
                                                            |  James Colon
                                                    td.hover-bg
                                                        h5 Maximize CEO
                                                        p
                                                            span By
                                                            |  Elmer Dunn
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Martha Fuller
                                                tr
                                                    td.event-time 18:00
                                                    td.hover-bg
                                                        h5 Technology Future
                                                        p
                                                            span By
                                                            |  Thomas Munoz
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Mattie Hanson
                                                    td.hover-bg
                                                        h5 Camping
                                                        p
                                                            span By
                                                            |  Rachel Arnold
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Leonard Daniels
                                #tabs-2.tab-pane(role='tabpanel')
                                    .schedule-table-content
                                        table
                                            thead
                                                tr
                                                    th
                                                    th
                                                        strong Day 1
                                                        span May 09, 2019
                                                    th
                                                        strong Day 2
                                                        span May 11, 2019
                                                    th
                                                        strong Day 3
                                                        span May 12, 2019
                                                    th
                                                        strong Day 4
                                                        span May 14, 2019
                                            tbody
                                                tr
                                                    td.event-time 15:00
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                tr
                                                    td.event-time 16:00
                                                    td.hover-bg
                                                        h5 Talking To Life
                                                        p
                                                            span By
                                                            |  John Smith
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Delia Mullins
                                                    td.hover-bg
                                                        h5 Introduce Technology
                                                        p
                                                            span By
                                                            |  Bryan Clark
                                                    td.hover-bg
                                                        h5 Marketing Design
                                                        p
                                                            span By
                                                            |  Ida Manning
                                                tr
                                                    td.event-time 17:30
                                                    td.hover-bg
                                                        h5 Meet Up Marketing
                                                        p
                                                            span By
                                                            |  Mc Cage
                                                    td.hover-bg
                                                        h5 Conect People
                                                        p
                                                            span By
                                                            |  James Colon
                                                    td.hover-bg
                                                        h5 Maximize CEO
                                                        p
                                                            span By
                                                            |  Elmer Dunn
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Martha Fuller
                                                tr
                                                    td.event-time 18:00
                                                    td.hover-bg
                                                        h5 Technology Future
                                                        p
                                                            span By
                                                            |  Thomas Munoz
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Mattie Hanson
                                                    td.hover-bg
                                                        h5 Camping
                                                        p
                                                            span By
                                                            |  Rachel Arnold
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Leonard Daniels
                                #tabs-3.tab-pane(role='tabpanel')
                                    .schedule-table-content
                                        table
                                            thead
                                                tr
                                                    th
                                                    th
                                                        strong Day 1
                                                        span May 09, 2019
                                                    th
                                                        strong Day 2
                                                        span May 11, 2019
                                                    th
                                                        strong Day 3
                                                        span May 12, 2019
                                                    th
                                                        strong Day 4
                                                        span May 14, 2019
                                            tbody
                                                tr
                                                    td.event-time 16:00
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                tr
                                                    td.event-time 17:00
                                                    td.hover-bg
                                                        h5 Talking To Life
                                                        p
                                                            span By
                                                            |  John Smith
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Delia Mullins
                                                    td.hover-bg
                                                        h5 Introduce Technology
                                                        p
                                                            span By
                                                            |  Bryan Clark
                                                    td.hover-bg
                                                        h5 Marketing Design
                                                        p
                                                            span By
                                                            |  Ida Manning
                                                tr
                                                    td.event-time 18:30
                                                    td.hover-bg
                                                        h5 Meet Up Marketing
                                                        p
                                                            span By
                                                            |  Mc Cage
                                                    td.hover-bg
                                                        h5 Conect People
                                                        p
                                                            span By
                                                            |  James Colon
                                                    td.hover-bg
                                                        h5 Maximize CEO
                                                        p
                                                            span By
                                                            |  Elmer Dunn
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Martha Fuller
                                                tr
                                                    td.event-time 19:00
                                                    td.hover-bg
                                                        h5 Technology Future
                                                        p
                                                            span By
                                                            |  Thomas Munoz
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Mattie Hanson
                                                    td.hover-bg
                                                        h5 Camping
                                                        p
                                                            span By
                                                            |  Rachel Arnold
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Leonard Daniels
                                #tabs-4.tab-pane(role='tabpanel')
                                    .schedule-table-content
                                        table
                                            thead
                                                tr
                                                    th
                                                    th
                                                        strong Day 1
                                                        span May 09, 2019
                                                    th
                                                        strong Day 2
                                                        span May 11, 2019
                                                    th
                                                        strong Day 3
                                                        span May 12, 2019
                                                    th
                                                        strong Day 4
                                                        span May 14, 2019
                                            tbody
                                                tr
                                                    td.event-time 09:00
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                tr
                                                    td.event-time 10:00
                                                    td.hover-bg
                                                        h5 Talking To Life
                                                        p
                                                            span By
                                                            |  John Smith
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Delia Mullins
                                                    td.hover-bg
                                                        h5 Introduce Technology
                                                        p
                                                            span By
                                                            |  Bryan Clark
                                                    td.hover-bg
                                                        h5 Marketing Design
                                                        p
                                                            span By
                                                            |  Ida Manning
                                                tr
                                                    td.event-time 13:30
                                                    td.hover-bg
                                                        h5 Meet Up Marketing
                                                        p
                                                            span By
                                                            |  Mc Cage
                                                    td.hover-bg
                                                        h5 Conect People
                                                        p
                                                            span By
                                                            |  James Colon
                                                    td.hover-bg
                                                        h5 Maximize CEO
                                                        p
                                                            span By
                                                            |  Elmer Dunn
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Martha Fuller
                                                tr
                                                    td.event-time 14:00
                                                    td.hover-bg
                                                        h5 Technology Future
                                                        p
                                                            span By
                                                            |  Thomas Munoz
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Mattie Hanson
                                                    td.hover-bg
                                                        h5 Camping
                                                        p
                                                            span By
                                                            |  Rachel Arnold
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Leonard Daniels
                                #tabs-5.tab-pane(role='tabpanel')
                                    .schedule-table-content
                                        table
                                            thead
                                                tr
                                                    th
                                                    th
                                                        strong Day 1
                                                        span May 09, 2019
                                                    th
                                                        strong Day 2
                                                        span May 11, 2019
                                                    th
                                                        strong Day 3
                                                        span May 12, 2019
                                                    th
                                                        strong Day 4
                                                        span May 14, 2019
                                            tbody
                                                tr
                                                    td.event-time 20:00
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                    td.break.hover-bg
                                                        h5 Coffee Break
                                                tr
                                                    td.event-time 22:00
                                                    td.hover-bg
                                                        h5 Talking To Life
                                                        p
                                                            span By
                                                            |  John Smith
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Delia Mullins
                                                    td.hover-bg
                                                        h5 Introduce Technology
                                                        p
                                                            span By
                                                            |  Bryan Clark
                                                    td.hover-bg
                                                        h5 Marketing Design
                                                        p
                                                            span By
                                                            |  Ida Manning
                                                tr
                                                    td.event-time 23:30
                                                    td.hover-bg
                                                        h5 Meet Up Marketing
                                                        p
                                                            span By
                                                            |  Mc Cage
                                                    td.hover-bg
                                                        h5 Conect People
                                                        p
                                                            span By
                                                            |  James Colon
                                                    td.hover-bg
                                                        h5 Maximize CEO
                                                        p
                                                            span By
                                                            |  Elmer Dunn
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Martha Fuller
                                                tr
                                                    td.event-time 24:00
                                                    td.hover-bg
                                                        h5 Technology Future
                                                        p
                                                            span By
                                                            |  Thomas Munoz
                                                    td.hover-bg
                                                        h5 Reinventing Experiences
                                                        p
                                                            span By
                                                            |  Mattie Hanson
                                                    td.hover-bg
                                                        h5 Camping
                                                        p
                                                            span By
                                                            |  Rachel Arnold
                                                    td.hover-bg
                                                        h5 Social Website
                                                        p
                                                            span By
                                                            |  Leonard Daniels
        // Schedule Table Section End
        // Newslatter Section Begin
        section.newslatter-section.about-newslatter
            .container
                .newslatter-inner.set-bg(data-setbg='assets/img/newslatter-bg.jpg')
                    .ni-text
                        h3 Subscribe Newsletter
                        p Subscribe to our newsletter and don&rsquo;t miss anything
                    form.ni-form(action='#')
                        input(type='text', placeholder='Your email')
                        button(type='submit') Subscribe
        // Newslatter Section End
        // Contact Section Begin
        section.contact-section.spad
            .container
                .row
                    .col-lg-6
                        .section-title
                            h2 Location
                            p Get directions to our event center
                        .cs-text
                            .ct-address
                                span Address:
                                p
                                    | 01 Pascale Springs Apt. 339, NY City
                                    br
                                    | United State
                            ul
                                li
                                    span Phone:
                                    | (+12)-345-67-8910
li
    span Email:
        | info.colorlib@gmail.com
.ct-links
    span Website:
    p https://conference.colorlib.com
.col-lg-6
    .cs-map
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52901.38789495531!2d-118.19465514866786!3d34.03523211493029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2cf71ad83ff9f%3A0x518b28657f4543b7!2sEast%20Los%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1579763856144!5m2!1sen!2sbd', height='400', style='border:0;', allowfullscreen='')
// Contact Section End
// Footer Section Begin
footer.footer-section
    .container
        .partner-logo.owl-carousel
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-1.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-2.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-3.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-4.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-5.png', alt='')
            a.pl-table(href='#')
                .pl-tablecell
                    img(src='assets/img/partner-logo/logo-6.png', alt='')
        .row
            .col-lg-12
                .footer-text
                    .ft-logo
                        a.footer-logo(href='#')
                            img(src='assets/img/footer-logo.png', alt='')
                    ul
                        li
                            a(href='#') Home
                        li
                            a(href='#') Sponsors
                        li
                            a(href='#') Schedule
                        li
                            a(href='#') Blog
                        li
                            a(href='#') Contact
                    .copyright-text
                        p
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                            | Copyright &copy;
                            script.
                                document.write(new Date().getFullYear());
                            |  All rights reserved | This template is made with
                            i.fab.fa-heart(aria-hidden='true')
                            |  by
                            a(href='https://colorlib.com', target='_blank') Colorlib
                            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                    .ft-social
                        a(href='#')
                            i.fab.fa-facebook
                        a(href='#')
                            i.fab.fa-twitter
                        a(href='#')
                            i.fab.fa-linkedin
                        a(href='#')
                            i.fab.fa-instagram
                        a(href='#')
                            i.fab.fa-youtube-play
// Footer Section End
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')