doctype html
html(lang='en')

    include templates/head
    include templates/preloader

    //header
    //include templates/header_template
    //  Header Section Begin
    html
        head
        body
            header.header-section
                .container
                    .logo
                        a(href='./index.html')
                            img(src='img/partner-logo/wordmark_horizontal_black_sm.png' alt='KNOX MOUNTAIN DOWNHILL')
                    .nav-menu
                        nav.mainmenu.mobile-menu
                            ul
                                li
                                    a(href='./index.html') Home
                                li
                                    a(href='./about-us.html') About
                                li.active
                                    a(href='sponsorssecret.html') Sponsors
                                li
                                    a(href='./contact.html') Contact
                        //a.primary-btn.top-btn(href='https://forms.gle/LB6HzmwkSR5xfJgC9')
                        //  i.fa.fa-ticket
                        //  |  RACER REGISTRATION
                    #mobile-menu-wrap
            //  Header End


    //hero
    include templates/hero_template
    //counter
    include templates/counter_template
    //about
    include templates/homeabout_template
    ////schedule
    //include templates/schedule_template
    ////pricing
    include templates/pricing_template
    ////team member
    //include templates/team_member_template
    ////latestblog
    //include templates/latestblog_template
    //newsletter
    include templates/newsletter_template
    //contact
    include templates/contact_general_template
    //footer
    include templates/footer_template

    //Js
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
    //include templates/index_test
