doctype html
html(lang='en')

    include templates/head
    include templates/preloader

    //  Header Section Begin
    html
        head
        body
            header.header-section
                .container
                    .logo
                        a(href='./index.html')
                            img(src='img/partner-logo/wordmark_horizontal_black_sm.png' alt='KNOX MOUNTAIN DOWNHILL')
                    .nav-menu
                        nav.mainmenu.mobile-menu
                            ul
                                li
                                    a(href='./index.html') Home
                                li
                                    a(href='./about-us.html') About
                                li
                                    a(href='./sponsors.html') Sponsors
                                li
                                    a(href='./contact.html') Contact
                                li
                                    a(href='https://drive.google.com/file/d/17T8W2Kwvv46ZHffC4JJaV9yM_WlarIT_/view?usp=drive_link') Rules
                                li
                                    a(href='https://forms.gle/zTXkqkfKjKXMUY5t6') Volunteer Registration
                        //a.primary-btn.top-btn(href='https://forms.gle/LB6HzmwkSR5xfJgC9')
                        //    i.fa.fa-ticket
                        //    |  RACER REGISTRATION
                    #mobile-menu-wrap
            //  Header End
    include templates/register_template
    ////team member
    //include templates/team_member_template
    ////latestblog
    //include templates/latestblog_template
    ////newsletter
    //include templates/newsletter_template
    //contact
    //include templates/contact_general_template
    //footer
    include templates/footer_template

    //Js
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
script(src='js/iframe-autoscale.js')
    //include templates/index_test
