doctype html
html(lang='en')

    include templates/head
    include templates/preloader
    //include templates/header_template
//  Header Section Begin
html
    head
    body
        header.header-section
            .container
                .logo
                    a(href='./index.html')
                        img(src='img/partner-logo/wordmark_horizontal_black_sm.png' alt='KNOX MOUNTAIN DOWNHILL')
                .nav-menu
                    nav.mainmenu.mobile-menu
                        ul
                            li
                                a(href='./index.html') Home
                            li
                                a(href='./about-us.html') About
                            li.active
                                a(href='./sponsors.html') Sponsor KMDH
                            li
                                a(href='./contact.html') Contact
                    a.primary-btn.top-btn(href='https://docs.google.com/forms/d/e/1FAIpQLSfJKRJl7AES9EDsjY2V-tfPNx__8W6wb9ruCMvGi8pf6F4miA/viewform?usp=sf_link')
                        i.fa.fa-ticket
                        |  RACER REGISTRATION
                #mobile-menu-wrap
        //  Header End



    include templates/sponsor_confirmed


    include templates/sponsor_section_template
    //contact
    //include templates/sponsor_confirmed
    include templates/contactpage_form_template
    //footer
    include templates/footer_template

    //Js
// Js Plugins
script(src='js/jquery-3.3.1.min.js')
script(src='js/bootstrap.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.countdown.min.js')
script(src='js/jquery.slicknav.js')
script(src='js/owl.carousel.min.js')
script(src='js/main.js')
    //include templates/index_test
